# Section pour les paramètres spécifiques au serveur
[server]

# Section pour les paramètres du serveur MariaDB
[mysqld]

# L'utilisateur sous lequel le serveur MariaDB s'exécutera
user = mysql

port = 3306

basedir = /usr

datadir = /var/lib/mysql

pid-file = /var/run/mysqld/mysqld.pid

# Le fichier socket utilisé pour les connexions locales
socket = /var/run/mysqld/mysqld.sock

# Active, accepte, ecoute les connexions réseau sur le port 3306.
# Cela permet aux clients distants de se connecter à la base de données via TCP/IP.
skip_networking = off

max_allowed_packet = 64M

log_error = /var/log/mysql/error.log